################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/6.10_Patch_GS/SDK
